.course-container{
    margin-top: 100px;
}

.card-div{
    width: 220px;
    height: 250px;
}

#card-header{
    height: 130px;
    text-align: right;
    background-color: rgb(181, 232, 181);
    position: relative;
}
#card-header p{
    padding-top: 20px;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 31px;
    padding-bottom: 8px;
    padding-right: 10px;
}
#card-body{
    height: 95px;
    text-align: left;
    padding: 10px;
    color: rgb(35, 34, 34);
    background-color: rgb(255, 255, 255);
}
#card-body p{
    font-size: 15px;
}